html, body {
  height: 100%;
  margin: 0;
}

.container-fluid {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 350px;
  background-image: url('https://media.istockphoto.com/id/1126678768/id/vektor/vector-mulus-bunga-gaya-india-pola-pada-latar-belakang-putih.jpg?s=612x612&w=0&k=20&c=yjPUGVNgjOTq7TIaSz_pIh0fvhFD7QsckcK6GWlLcTM=');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  position: relative;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

#sidebar-top, #sidebar-bottom {
  position: relative;
  z-index: 1;
}

#sidebar-top {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#sidebar-bottom {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 12px;
  color: #f0f0f0;
}

.sidebar-content {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 10px;
}

.nav-link {
  color: white;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 6px;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#map {
  flex: 1;
}

.submenu {
  padding-left: 10px;
}
